.structure {
  background: rgb(40, 44, 52);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

pre {
  margin: 1rem;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
}
